*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.gitignore
.idea
/app/src/main/java/com/arekalov/yandexshmr/presentation/token.kt
.env
build-logic/build